transformers==4.56.0
accelerate==1.10.1
einops==0.8.1
pandas==2.2.2
scikit-learn==1.6.1

# macOS (Darwin)
torch==2.2.2; platform_system == "Darwin"

# Linux (Colab, CUDA 12.6)
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.8.0+cu126; platform_system == "Linux" and platform_machine == "x86_64"
